body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}


header {
    display: flex;
    align-items: center;
    background-color: #3d93aa65;
    color: #000000;
    padding: 2rem;
    text-align: center;
}

#lap-container {
    flex-direction: column;
    display: flex;
    align-items: left;
    text-align: left;
    justify-content: left;
    margin-top: 10px;
    padding-left: 2rem;
}

#lapG {
    margin-top: 10px;
    color: green; /* Green color for green lap */
}

#lapR {
    margin-top: 10px;
    color: red; /* Red color for red lap */
}

#summary-data-btn {
    margin-left: 20px; /* Adjust the space between the heading and the button */
}

#online-data-btn {
    margin-left: 20px; /* Adjust the space between the heading and the button */
}

main {
    padding: 1rem;
}

#table-container {
    overflow-x: auto;
}

.left-align {
    text-align: left;
}

.total-km {
    color: rgba(8, 55, 75, 0.825);
    text-align: right;
}

.racer-name {
    text-align: left;
}

.team-name {
    color: rgba(8, 55, 75, 0.825);
    text-align: left;
}

.center-align {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 1rem 0;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #3d93aa65;
    color: #000000;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.light-red {
    background-color: #ffcccc;
}

.light-green {
    background-color: #ccffcc;
}

.gray {
    background-color: #e0e0e0;
}

/* Basic button styling */
.button {
    background-color: #025a80; /* Sets the background color to a specific shade of blue */
    border: rgb(1, 48, 68); /* Sets the border color to a darker shade of blue */
    color: white; /* Sets the text color to white */
    padding: 10px 20px; /* Adds 20px padding on the top and bottom, and 45px on the left and right */
    text-align: center; /* Centers the text within the button */
    text-decoration: none; /* Removes any text decoration (like underlines) */
    display: inline-block; /* Makes the element an inline-block, allowing it to have both inline and block properties */
    font-size: 20px; /* Sets the font size to 20 pixels */
    margin: 1px 1px; /* Adds a margin of 4px on the top and bottom, and 2px on the left and right */
    cursor: pointer; /* Changes the cursor to a pointer when hovered over */
    transition: background-color 0.3s ease; /* Adds a smooth transition effect for the background color change over 0.3 seconds */
    border-radius: 12px; /* Rounds the corners of the button with a 12px radius */
}

  
  /* Change color on hover */
  .button:hover {
    background-color: #50888c; /* Darker green */
  }
  
  /* Change color on click  */
  .button:active {
    background-color: #025a80; /* Even darker green */
  }