/* Brand Colors */
:root {
    --primary-dark-blue: rgb(28, 54, 98);
    --primary-bright-blue: rgb(13, 119, 189);
    --primary-medium-blue: rgb(98, 171, 218);
    --primary-light-blue: rgb(195, 224, 242);
    --secondary-dark-gray: rgb(175, 175, 175);
    --secondary-light-gray: rgb(213, 211, 211);
    --accent-blue: rgb(144, 189, 217);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--secondary-light-gray);
}

header {
    position: sticky;
    top: 0;
    background-color: var(--primary-light-blue);
    color: var(--primary-dark-blue);
    z-index: 1000;
    padding: 0;
    width: 100%;
}

.header-wrapper { 
    display: flex; 
    align-items: center;
    padding: 0 15px; 
}

header h1 {
    padding: 20px 20px 0 15px; 
    margin: 0;
    font-size: 40px;
    color: var(--primary-dark-blue);
}

header h2 {
    padding: 5px 20px 20px 15px; 
    margin: 0;
    font-size: 24px;
    color: var(--primary-dark-blue);
}

.header-content { 
    display: flex; 
    flex-direction: column; 
    padding: 0; 
}

.header-buttons { 
    display: flex; 
    justify-content: center; 
    gap: 10px; 
    padding: 0; 
}

.button {
    background-color: var(--primary-medium-blue);
    border: 2px solid var(--primary-bright-blue);
    color: var(--primary-dark-blue);
    padding: 12px 25px;  
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px; 
    margin: 4px 2px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 8px;  
}

.button:hover {
    background-color: var(--primary-bright-blue);
}

.button:active {
    background-color: var(--primary-bright-blue);
}

main {
    padding: 1rem;
}

nav {
    padding-left: 5px;
    background-color: var(--primary-dark-blue);
    position: sticky;
    top: 60px;
}

ul.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

ul.menu > li {
    position: relative;
    display: inline;
    margin-right: 1rem;
    float: left;
}

ul.menu > li > a {
    background-color: var(--primary-dark-blue);
    border: none;
    color: var(--secondary-light-gray);
    font-size: 24px;
    text-decoration: none;
    display: block;
    padding: 14px 14px;
    text-align: center;
}

ul.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    list-style-type: none;
    padding: 0;
    margin: 0;
    background: var(--primary-dark-blue);
}

ul.submenu li a {
    padding: 10px 15px;
    text-decoration: none;
    color: var(--secondary-light-gray);
    display: block;
    background: var(--primary-dark-blue);
}

ul.menu > li:hover ul.submenu,
ul.menu > li:focus-within ul.submenu {
    display: block;
    background-color: var(--primary-bright-blue);
}

ul.menu > li > a:hover,
ul.menu > li > a:focus {
    background-color: var(--primary-bright-blue);
}

ul.menu li.active > a {
    background-color: var(--primary-bright-blue);
    color: var(--primary-dark-blue);
}

ul.submenu li a:hover,
ul.submenu li a:focus {
    background-color: var(--primary-bright-blue);
}

.content {
    padding: 20px;
    background: var(--secondary-light-gray);
    margin-top: 20px;
    border: 1px solid var(--secondary-dark-gray);
}

.language-switcher button {
    background-color: var(--primary-dark-blue);
    border: none;
    color: var(--secondary-light-gray);
    display: flex;
    align-items: center;
    padding: 0 5px;
    margin-right: 5px;
    font-size: 20px;
    cursor: pointer;
}

.language-switcher button:hover {
    background-color: var(--primary-bright-blue);
}

.language-switcher button img.flag-icon {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

main {
    padding: 1rem;
    padding-top: 180px;
}

/* Responsive Design */
@media (max-width: 768px) {
    header h1, header h2 {
        font-size: 1.5em;
        padding-left: 5px;
    }
    
    nav ul li a {
        padding: 0.3em 0.5em;
        font-size: 0.9em;
    }

    .language-switcher button {
        font-size: 0.9em;
    }
    
    .language-switcher button img.flag-icon {
        width: 0.8em;
        height: 0.8em;
    }
    
    main {
        padding-top: 120px;
        padding-left: 5px;
        font-size: 80%;
    }
}

@media (max-width: 480px) {
    header h1, header h2 {
        font-size: 0.8em;
        padding-left: 5px;
    }
    
    nav ul li {
        flex: 1 1 100%;
    }
    
    nav ul li a {
        padding: 0.2em 0.4em;
        font-size: 0.8em;
    }
}

