/* Brand Colors */
:root {
    --primary-dark-blue: rgb(28, 54, 98);
    --primary-bright-blue: rgb(13, 119, 189);
    --primary-medium-blue: rgb(98, 171, 218);
    --primary-light-blue: rgb(195, 224, 242);
    --secondary-dark-gray: rgb(175, 175, 175);
    --secondary-light-gray: rgb(213, 211, 211);
}

main {
    padding: 1rem;
}

#table-container-online {
    overflow-x: auto;
}

#table-container-summary {
    overflow-x: auto;
}

.left-align {
    text-align: left;
}

.total-km {
    color: var(--primary-dark-blue);
    text-align: right;
}

.racer-name {
    text-align: left;
}

.team-name {
    color: var(--primary-dark-blue);
    text-align: left;
}

.center-align {
    text-align: center;
}

.table1 {
    width: 100%;
    border-collapse: collapse;
    margin: 1rem 0;
}

.table1 th, td {
    border: 1px solid var(--secondary-dark-gray);
    padding: 8px;
    text-align: center;
}

.table1 th {
    background-color: var(--primary-light-blue);
    color: var(--primary-dark-blue);
}

.table1 tr:nth-child(even) {
    background-color: var(--primary-medium-blue);
}

.light-red {
    background-color: #ffcccc;
}

.light-green {
    background-color: #ccffcc;
}

.gray {
    background-color: var(--secondary-dark-gray);
}

.table-container2 {
    display: flex;
    overflow: auto;
    width: 100%;
}

.table2 {
    border-collapse: collapse;
    width: 100%;
}

.table2 th, .table2 td {
    border: 1px solid var(--secondary-dark-gray);
    padding: 8px;
    text-align: left;
}

.table2 th {
    background: var(--primary-light-blue);
    color: var(--primary-dark-blue);
    font-weight: bold;
}

.sticky-header2 {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    background-color: var(--primary-light-blue);
    z-index: 2;
    border-right: 2px solid var(--primary-dark-blue);
}